*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #e3dfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-family: 'poppins', sans-serif;

}
article h1{
    text-align: center;
    font-size: 58px;
    margin-bottom: 60px ;
}
article .flipTimer{
    display: flex;
}
article .flipTimer .span{
    color: #333;
}